html {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
}
.padded {
  margin: 25px;
  /*padding:20px;*/
}

/* -- Front -- */

.root {
  background-color: #272D4E;
}

.tagline {
  margin: 16px auto 0 auto;
  text-align: center;
  max-width: 575px;
}

.examples {
  margin: -110px auto 0 auto;
  max-width: 1204px;
}

.login {
  position: absolute;
  right:10px;
  top:10px;
}

.front-title, .front-subtitle {
  /*font-family: 'Special Elite', cursive;*/
  color: white !important;
}

.front-subtitle {
  font-size: 20px;
  line-height: 28px;
  padding-top: 19px;
  margin-bottom: 13px;
  letter-spacing: 0;
}

.pig {
  position:absolute;
  top: 10px;
}

.plus-one {
  fontWeight: bold;
  color: green;
}

@media (min-width: 800px) {
  .tagline {
    margin-top: 32px;
  }

  .front-title {
    font-size: 56px;
  }

  .front-subtitle {
    font-size: 24px;
    line-height: 32px;
    padding-top: 16px;
    margin-bottom: 12px;
  }
}

@media (max-width: 1024px) {
  .pig {
    width: 20%;
  }
}

.front {
  display: flex;
  flex-direction: column;
}
.front .jp-row {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.front .jp-row .jp-col {
  flex: 1;
}
.jp-col.jp-content {
  padding-right: 20px;
  padding-left: 20px;
}
.jp-content {
  font-size: 1.2em;
}
.jp-content .jp-role {
  background-color: #eee;
  padding: 5px;
  color: #414B82
}
@media (max-width: 750px) {
  .front .jp-col {
    min-width: 80%;
  }
}


.Select-menu-outer {
  z-index: 1600 !important; /* Otherwise we'll click underlying form-fields from Material-UI, which has z-index=1500 */
}

.job-title {
  text-decoration: none;
}

.sample-scores {
  display: flex;
}
.sample-scores ul {
  flex: 1;
  list-style: none;
}
.sample-score-up {
  font-weight: bold;
  color: green;
}

.sample-score-down {
  font-weight: bold;
  color: red;
}

.static-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
}

.footer {
  background-color: #272D4E;
  text-align: center;
  color: white;
  /*margin-top: 200px;*/
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer li {
  list-style: none;
}
.footer a {
  color: white;
  /*text-decoration: none;*/
}


@-webkit-keyframes flashing-button {
  0% {
    background-color: green;
  }
  50% {
    background-color: #414B82;
  }
  100% {
    background-color: green;
  }
}

.flashing-button {
  -webkit-animation-name: flashing-button;
  -webkit-animation-duration: 900ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}