doctype html
html(lang="en")
  head
    title Jobs

    link(rel='stylesheet', href="/bower_components/bootstrap/dist/css/bootstrap.css")

    // Scripts
    script(src="/bower_components/firebase/firebase.js")
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angularfire/dist/angularfire.js")
    script(src="/bower_components/lodash/lodash.js")
    script(src="/bower_components/angular-lodash/angular-lodash.js")

    script(src="/bower_components/angular-ui/build/angular-ui.js")
    script(src="/bower_components/angular-bootstrap/ui-bootstrap.js")
    //script(src="angular-bootstrap/ui-bootstrap-tpls.js")

    script.
      var app = angular.module("app", ["firebase", "ui.bootstrap", "angular-lodash"]);
      app.controller("JobsController", function ($scope, $firebaseArray, $http, $sce) {
        var ref = new Firebase('https://lefnire-test.firebaseIO.com/jobs');
        $scope.jobs = $firebaseArray(ref);

        $scope.refresh = function(){
          $http.post('/jobs');
        }
        $scope.expand = function(job){
          $http.get('/jobs/'+job.id).success(function(res){
            job.expanded = $sce.trustAsHtml(res);
          });
        }
        $scope.save = function(job) {
          ref.child(job.$id + '/saved').once('value', function(snap){
            ref.child(job.$id + '/saved').set(!snap.val()); //toggle
          })
        }
        $scope.hide = function(job) {
          ref.child(job.$id + '/hide').set(true);
        }
      });
  body(ng-app='app', ng-controller='JobsController')
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') Jobs
        ul.nav.navbar-nav.navbar-right
          li: a.btn(ng-click='refresh()') Refresh

    .container-fluid
      table.table.table-striped
        tr(ng-repeat='job in jobs | filter:{hide:"!"}', ng-class="{success: job.saved}")
          td
            div
              div.pull-right
                a.glyphicon.glyphicon-remove(ng-click="hide(job)")
                a.glyphicon.glyphicon-chevron-down(ng-click="expand(job)")
                a.glyphicon(ng-click="save(job)", ng-class="{'glyphicon-star':job.saved, 'glyphicon-star-empty':!job.saved}")
              h4
                a(href='{{job.url}}') {{job.title}}
              h5 {{job.location}}
              p {{job.description}}
            div(ng-if='job.expanded', ng-bind-html='job.expanded')
